<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark h-100" style="background-color: #13294b;">
            <a class="navbar-brand">
                <img class="align-top" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Illinois_Fighting_Illini_logo.svg" width="20px" height="29px" alt="...">
                saveMyGpa
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107">Project Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Documents</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Project+Description">Project Description</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+ER+Design">ER Design</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Development+Plan">Development Plan</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Database+Schema+Design">Database Schema Design</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Development+Environment+Setup">Development Environment Setup</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron mb-0 bg-light">
        <h1>Grade Prediction</h1>
        <h5>Select Subject and Course Number</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">Subject</th>
                    <th class="col-2">Course Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/grade">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <select name="subject" class="browser-default custom-select col-5">
                                    {% for subject in subjects %}
                                        {% if subject == selected_subject %}
                                            <option value="{{subject}}" selected>{{subject}}</option>
                                        {% else %}
                                            <option value="{{subject}}">{{subject}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Get Course #</button>
                            </td>
                            <td class="col-2">
                                <select name="CRN" class="browser-default custom-select col-5">
                                    {% for CRN in CRNs %}
                                        {% if CRN == selected_CRN %}
                                            <option value="{{CRN}}" selected>{{CRN}}</option>
                                        {% else %}
                                            <option value="{{CRN}}">{{CRN}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Get Grade</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5>Expected Grade</h5>
        <div class="ml-2">
            <input type="text" class="form-control col-1" id="expectedGrade" placeholder="{{grade}}">
        </div>
    </div>
    <div class="jumbotron mb-0">
        <h1>Database Editor</h1>
        <h5>Read Section Data</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">Subject</th>
                    <th class="col-2">Course Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/read">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <select name="subject" class="browser-default custom-select col-5">
                                    {% for subject in subjects %}
                                        {% if subject == selected_subject %}
                                            <option value="{{subject}}" selected>{{subject}}</option>
                                        {% else %}
                                            <option value="{{subject}}">{{subject}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Get Course #</button>
                            </td>
                            <td class="col-2">
                                <select name="CRN" class="browser-default custom-select col-5">
                                    {% for CRN in CRNs %}
                                        {% if CRN == selected_CRN %}
                                            <option value="{{CRN}}" selected>{{CRN}}</option>
                                        {% else %}
                                            <option value="{{CRN}}">{{CRN}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Get Grade</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-md-1">CourseId</th>
                    <th class="col-md-1">ProfessorId</th>
                    <th class="col-md-1">sectionId</th>
                    <th class="col-sm-1">Term</th>
                    <th class="col-sm-1">A</th>
                    <th class="col-sm-1">A-</th>
                    <th class="col-sm-1">B+</th>
                    <th class="col-sm-1">B</th>
                    <th class="col-sm-1">B-</th>
                    <th class="col-sm-1">C+</th>
                    <th class="col-sm-1">C</th>
                    <th class="col-sm-1">C-</th>
                    <th class="col-sm-1">D+</th>
                    <th class="col-sm-1">D</th>
                    <th class="col-sm-1">D-</th>
                    <th class="col-sm-1">F</th>
                    <th class="col-sm-1">W</th>
                </tr>
                </thead>
                <tbody>
                    {% for sectionInfo in sectionInfos %}
                        <tr class="d-flex">
                            <td class="col-0">
                            </td>
                            <td class="col-md-1">{{sectionInfo[0]}}
                            </td>
                            <td class="col-md-1">{{sectionInfo[1]}}
                            </td>
                            <td class="col-md-1">{{sectionInfo[2]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[3]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[4]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[5]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[6]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[7]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[8]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[9]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[10]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[11]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[12]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[13]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[14]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[15]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[16]}}
                            </td>
                            <td class="col-sm-1">{{sectionInfo[17]}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        &nbsp;
        <h5>Increment Grade</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Course Number</th>
                    <th class="col-md-2">SectionId</th>
                    <th class="col-md-2">Term</th>
                    <th class="col-md-2">Grade</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/increment">
                        <tr class="d-flex">
                            <td class="col-0">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="subjectI" placeholder="2 to 4 Capitalized Alphabet e.g.CS">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="courseNumberI" placeholder="3-Digit Course Number e.g.100">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="sectionIdI" placeholder="4-Digit SectionId (read from above if you don't know)">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="termI" placeholder="Spring, Fall, etc.">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="gradeI" placeholder="A, A-, etc.">
                            </td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Increment</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
            {{wRes}}
        </div>
        &nbsp;
        <h5>Decrement Grade</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Course Number</th>
                    <th class="col-md-2">SectionId</th>
                    <th class="col-md-2">Term</th>
                    <th class="col-md-2">Grade</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/decrement">
                        <tr class="d-flex">
                            <td class="col-0">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="subjectD" placeholder="2 to 4 Capitalized Alphabet e.g.CS">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="courseNumberD" placeholder="3-Digit Course Number e.g.100">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="sectionIdD" placeholder="4-Digit SectionId (read from above if you don't know)">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="termD" placeholder="Spring, Fall, etc.">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="gradeD" placeholder="A, A-, etc.">
                            </td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-danger ml-2 col-auto">Decrement</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
            {{dRes}}
        </div>
        &nbsp;
        <h5>Add Professor</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/addProf">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profFN">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profLN">
                            </td>
                            <td class="col-2">
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Add</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            {{apRes}}
        </div>
        &nbsp;
        <h5>Delete Professor</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/deleteProf">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profFND">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profLND">
                            </td>
                            <td class="col-2">
                                <button type="submit" class="btn btn-danger ml-2 col-auto">Delete</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            {{dpRes}}
        </div>
    </div>
        <!-- <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">Term</th>
                    <th class="col-2">Subject</th>
                    <th class="col-2">Course Number</th>
                    <th class="col-2">Instructor</th>
                    <th class="col-2">Grade</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/grade">
                    <tr class="d-flex">
                        <td class="col-2">
                            <select class="browser-default custom-select">
                                <OPTION VALUE="120208">Fall 2020</OPTION>
                                <OPTION VALUE="120205">Summer 2020</OPTION>
                                <OPTION VALUE="120201">Spring 2020</OPTION>
                                <OPTION VALUE="120200">Winter 2019-2020</OPTION>
                                <OPTION VALUE="120198">Fall 2019</OPTION>
                                <OPTION VALUE="120195">Summer 2019</OPTION>
                                <OPTION VALUE="120191">Spring 2019</OPTION>
                                <OPTION VALUE="120190">Winter 2018-2019</OPTION>
                                <OPTION VALUE="120188">Fall 2018</OPTION>
                                <OPTION VALUE="120185">Summer 2018</OPTION>
                                <OPTION VALUE="120181">Spring 2018</OPTION>
                                <OPTION VALUE="120180">Winter 2017-2018</OPTION>
                                <OPTION VALUE="120178">Fall 2017</OPTION>
                                <OPTION VALUE="120175">Summer 2017</OPTION>
                                <OPTION VALUE="120171">Spring 2017</OPTION>
                                <OPTION VALUE="120170">Winter 2016-2017</OPTION>
                                <OPTION VALUE="120168">Fall 2016</OPTION>
                                <OPTION VALUE="120165">Summer 2016</OPTION>
                                <OPTION VALUE="120161">Spring 2016</OPTION>
                                <OPTION VALUE="120160">Winter 2015-2016</OPTION>
                                <OPTION VALUE="120158">Fall 2015</OPTION>
                                <OPTION VALUE="120155">Summer 2015</OPTION>
                                <OPTION VALUE="120151">Spring 2015</OPTION>
                                <OPTION VALUE="120150">Winter 2014-2015</OPTION>
                                <OPTION VALUE="120148">Fall 2014</OPTION>
                                <OPTION VALUE="120145">Summer 2014</OPTION>
                                <OPTION VALUE="120141">Spring 2014</OPTION>
                                <OPTION VALUE="120138">Fall 2013</OPTION>
                                <OPTION VALUE="120135">Summer 2013</OPTION>
                                <OPTION VALUE="120131">Spring 2013</OPTION>
                                <OPTION VALUE="120128">Fall 2012</OPTION>
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select">
                                {% for subject in subjects %}
                                    {% if subject == his_selected_subject %}
                                        <option value="{{subject}}" selected>{{subject}}</option>
                                    {% else %}
                                        <option value="{{subject}}">{{subject}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;">
                                {% for CRN in CRNs %}
                                    {% if CRN == his_selected_CRN %}
                                        <option value="{{CRN}}" selected>{{CRN}}</option>
                                    {% else %}
                                        <option value="{{CRN}}">{{CRN}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;"></select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;">
                                <OPTION VALUE="A+">A+</OPTION>
                                <OPTION VALUE="A">A</OPTION>
                                <OPTION VALUE="A-">A-</OPTION>
                                <OPTION VALUE="B+">B+</OPTION>
                                <OPTION VALUE="B">B</OPTION>
                                <OPTION VALUE="B-">B-</OPTION>
                                <OPTION VALUE="C+">C+</OPTION>
                                <OPTION VALUE="C">C</OPTION>
                                <OPTION VALUE="C-">C-</OPTION>
                                <OPTION VALUE="D+">D+</OPTION>
                                <OPTION VALUE="D">D</OPTION>
                                <OPTION VALUE="D-">D-</OPTION>
                                <OPTION VALUE="W">W</OPTION>
                                <OPTION VALUE="F">F</OPTION>
                            </select>
                        </td>
                        <td class="col-2">
                            <button type="button" class="btn btn-primary">Get CRNs</button>
                            <button type="button" class="btn btn-primary">Get Instructors</button>
                            <button type="button" class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                    </form>
                </tbody>
            </table>
        </div>
        </div> -->
    <!-- <div class="jumbotron mb-0">
        <h1>Academic History</h1>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-1">#</th>
                    <th class="col-2">Term</th>
                    <th class="col-2">Subject</th>
                    <th class="col-2">Course Number</th>
                    <th class="col-2">Instructor</th>
                    <th class="col-2">Grade</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Will use localstorage to store information</th>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5>Add Courses</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">Term</th>
                    <th class="col-2">Subject</th>
                    <th class="col-2">Course Number</th>
                    <th class="col-2">Instructor</th>
                    <th class="col-2">Grade</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/grade">
                    <tr class="d-flex">
                        <td class="col-2">
                            <select class="browser-default custom-select">
                                <OPTION VALUE="120208">Fall 2020</OPTION>
                                <OPTION VALUE="120205">Summer 2020</OPTION>
                                <OPTION VALUE="120201">Spring 2020</OPTION>
                                <OPTION VALUE="120200">Winter 2019-2020</OPTION>
                                <OPTION VALUE="120198">Fall 2019</OPTION>
                                <OPTION VALUE="120195">Summer 2019</OPTION>
                                <OPTION VALUE="120191">Spring 2019</OPTION>
                                <OPTION VALUE="120190">Winter 2018-2019</OPTION>
                                <OPTION VALUE="120188">Fall 2018</OPTION>
                                <OPTION VALUE="120185">Summer 2018</OPTION>
                                <OPTION VALUE="120181">Spring 2018</OPTION>
                                <OPTION VALUE="120180">Winter 2017-2018</OPTION>
                                <OPTION VALUE="120178">Fall 2017</OPTION>
                                <OPTION VALUE="120175">Summer 2017</OPTION>
                                <OPTION VALUE="120171">Spring 2017</OPTION>
                                <OPTION VALUE="120170">Winter 2016-2017</OPTION>
                                <OPTION VALUE="120168">Fall 2016</OPTION>
                                <OPTION VALUE="120165">Summer 2016</OPTION>
                                <OPTION VALUE="120161">Spring 2016</OPTION>
                                <OPTION VALUE="120160">Winter 2015-2016</OPTION>
                                <OPTION VALUE="120158">Fall 2015</OPTION>
                                <OPTION VALUE="120155">Summer 2015</OPTION>
                                <OPTION VALUE="120151">Spring 2015</OPTION>
                                <OPTION VALUE="120150">Winter 2014-2015</OPTION>
                                <OPTION VALUE="120148">Fall 2014</OPTION>
                                <OPTION VALUE="120145">Summer 2014</OPTION>
                                <OPTION VALUE="120141">Spring 2014</OPTION>
                                <OPTION VALUE="120138">Fall 2013</OPTION>
                                <OPTION VALUE="120135">Summer 2013</OPTION>
                                <OPTION VALUE="120131">Spring 2013</OPTION>
                                <OPTION VALUE="120128">Fall 2012</OPTION>
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select">
                                {% for subject in subjects %}
                                    {% if subject == his_selected_subject %}
                                        <option value="{{subject}}" selected>{{subject}}</option>
                                    {% else %}
                                        <option value="{{subject}}">{{subject}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;">
                                {% for CRN in CRNs %}
                                    {% if CRN == his_selected_CRN %}
                                        <option value="{{CRN}}" selected>{{CRN}}</option>
                                    {% else %}
                                        <option value="{{CRN}}">{{CRN}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;"></select>
                        </td>
                        <td class="col-2">
                            <select class="browser-default custom-select" style="width:auto;">
                                <OPTION VALUE="A+">A+</OPTION>
                                <OPTION VALUE="A">A</OPTION>
                                <OPTION VALUE="A-">A-</OPTION>
                                <OPTION VALUE="B+">B+</OPTION>
                                <OPTION VALUE="B">B</OPTION>
                                <OPTION VALUE="B-">B-</OPTION>
                                <OPTION VALUE="C+">C+</OPTION>
                                <OPTION VALUE="C">C</OPTION>
                                <OPTION VALUE="C-">C-</OPTION>
                                <OPTION VALUE="D+">D+</OPTION>
                                <OPTION VALUE="D">D</OPTION>
                                <OPTION VALUE="D-">D-</OPTION>
                                <OPTION VALUE="W">W</OPTION>
                                <OPTION VALUE="F">F</OPTION>
                            </select>
                        </td>
                        <td class="col-2">
                            <button type="button" class="btn btn-primary">Get CRNs</button>
                            <button type="button" class="btn btn-primary">Get Instructors</button>
                            <button type="button" class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="jumbotron mb-0 bg-info" id="about">
        <h1>About</h1>
        <p>This webapp is made by</p>
        <table >
            <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6"></th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Steven Pan</th>
                    <th class="col-3">stevenp6@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Vinayak Dhanawade</th>
                    <th class="col-3">vinayak2@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Rohan Vasavada</th>
                    <th class="col-3">rdv2@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Kevin Choi</th>
                    <th class="col-3">gchoi17@illinois.edu</th>
                </tr>
            </tbody>
        </table>
        &nbsp;<p>as an in-class project for CS 411 at UIUC</p>
    </div>
  </body>
</html>