<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark h-100" style="background-color: #13294b;">
            <a class="navbar-brand">
                <img class="align-top" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Illinois_Fighting_Illini_logo.svg" width="20px" height="29px" alt="...">
                saveMyGpa
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107">Project Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">Documents</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Project+Description">Project Description</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+ER+Design">ER Design</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Development+Plan">Development Plan</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Database+Schema+Design">Database Schema Design</a>
                            <a class="dropdown-item" href="https://wiki.illinois.edu/wiki/display/CS411AAFA20/Team+107+-+Development+Environment+Setup">Development Environment Setup</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron mb-0" style="background-color: #ffffff;">
        <h1>Academic History</h1>
        <div class="table table-sm">
            <table class="table">
                <thead>
                    <tr class="row">
                        <th class="col-md-2">Term</th>
                        <th class="col-md-2">Subject</th>
                        <th class="col-md-2">Course Number</th>
                        <th class="col-md-2">Instructor</th>
                        <th class="col-md-2">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- nested array records will contain user academic history
                    i.e. each record is an array with the values listed above in the table head -->
                    {% for record in records %}
                        <tr class="row">
                            <td class="col-md-2">{{record['term']}}</td>
                            <td class="col-md-2">{{record['departmentCode']}}</td>
                            <td class="col-md-2">{{record['courseNumber']}}</td>
                            <td class="col-md-2">{{record['professorName']}}</td>
                            <td class="col-md-2">{{record['grade']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        &nbsp;
        <h5>Add Courses</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-sm-2">Term</th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Course Number</th>
                    <th class="col-md-2">Instructor</th>
                    <th class="col-md-1">Grade</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/add">
                        <tr class="row">
                            <td class="col-0"></td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="termA" placeholder="20xx-te, (te: sp, fa, su, wt)">
                            </td>
                            <td class="col-md-2">
                                <select name="sel_subj" class="browser-default custom-select" id="subj_id">
                                    <option value="ACCY">Accountancy</option>
                                    <option value="ASRM">Actuarial Science &amp; Risk Mgmt</option>
                                    <option value="ADV">Advertising</option>
                                    <option value="AE">Aerospace Engineering</option>
                                    <option value="AFRO">African American Studies</option>
                                    <option value="AFST">African Studies</option>
                                    <option value="ALEC">Ag Ldrship, Educ &amp; Comm</option>
                                    <option value="ACE">Agr &amp; Consumer Economics</option>
                                    <option value="ACES">Agr, Consumer, &amp; Env Sciences</option>
                                    <option value="ABE">Agric &amp; Biological Engineering</option>
                                    <option value="AGCM">Agricultural Communications</option>
                                    <option value="AGED">Agricultural Education</option>
                                    <option value="AFAS">Air Force Aerospace Studies</option>
                                    <option value="AIS">American Indian Studies</option>
                                    <option value="ANSC">Animal Sciences</option>
                                    <option value="ANTH">Anthropology</option>
                                    <option value="AHS">Applied Health Sci Courses</option>
                                    <option value="ARAB">Arabic</option>
                                    <option value="ARCH">Architecture</option>
                                    <option value="ART">Art</option>
                                    <option value="ARTD">Art--Design</option>
                                    <option value="ARTE">Art--Education</option>
                                    <option value="ARTF">Art--Foundation</option>
                                    <option value="ARTH">Art--History</option>
                                    <option value="ARTS">Art--Studio</option>
                                    <option value="AAS">Asian American Studies</option>
                                    <option value="ASST">Asian Studies</option>
                                    <option value="ASTR">Astronomy</option>
                                    <option value="ATMS">Atmospheric Sciences</option>
                                    <option value="BASQ">Basque</option>
                                    <option value="BIOC">Biochemistry</option>
                                    <option value="BIOE">Bioengineering</option>
                                    <option value="BIOL">Biology</option>
                                    <option value="BSE">Biomedical Sciences &amp; Engr</option>
                                    <option value="BIOP">Biophysics</option>
                                    <option value="BCS">Bosnian-Croatian-Serbian</option>
                                    <option value="BCOG">Brain and Cognitive Science</option>
                                    <option value="BULG">Bulgarian</option>
                                    <option value="BUS">Business</option>
                                    <option value="BADM">Business Administration</option>
                                    <option value="BDI">Business Data and Innovation</option>
                                    <option value="BTW">Business and Technical Writing</option>
                                    <option value="CHP">Campus Honors Program</option>
                                    <option value="CATL">Catalan</option>
                                    <option value="CDB">Cell and Developmental Biology</option>
                                    <option value="CAS">Center for Advanced Study</option>
                                    <option value="CHBE">Chemical and Biomolecular Engr</option>
                                    <option value="CHEM">Chemistry</option>
                                    <option value="CHIN">Chinese</option>
                                    <option value="CEE">Civil and Environ Engineering</option>
                                    <option value="CLCV">Classical Civilization</option>
                                    <option value="CLE">Clinical Sciences &amp; Engr</option>
                                    <option value="CIC">Committee on Inst Cooperation</option>
                                    <option value="CMN">Communication</option>
                                    <option value="CHLH">Community Health</option>
                                    <option value="CWL">Comparative &amp; World Literature</option>
                                    <option value="CB">Comparative Biosciences</option>
                                    <option value="CSE">Computational Science and Engr</option>
                                    <option value="CS">Computer Science</option>
                                    <option value="CW">Creative Writing</option>
                                    <option value="CPSC">Crop Sciences</option>
                                    <option value="CI">Curriculum and Instruction</option>
                                    <option value="CZCH">Czech</option>
                                    <option value="DANC">Dance</option>
                                    <option value="EALC">E. Asian Languages &amp; Cultures</option>
                                    <option value="ESE">Earth, Society, &amp; Environment</option>
                                    <option value="ECON">Economics</option>
                                    <option value="EPOL">Ed Policy, Org &amp; Ldership</option>
                                    <option value="EOL">Educ Organization &amp; Leadership</option>
                                    <option value="EDUC">Education</option>
                                    <option value="EPS">Educational Policy Studies</option>
                                    <option value="EDPR">Educational Practice</option>
                                    <option value="EPSY">Educational Psychology</option>
                                    <option value="ECE">Electrical and Computer Engr</option>
                                    <option value="ENG">Engineering</option>
                                    <option value="ENGH">Engineering Honors</option>
                                    <option value="ENGL">English</option>
                                    <option value="ESL">English as a Second Language</option>
                                    <option value="EIL">English as an Intl Language</option>
                                    <option value="ENT">Entomology</option>
                                    <option value="ENVS">Environmental Studies</option>
                                    <option value="ENSU">Environmental Sustainability</option>
                                    <option value="EURO">European Union Studies</option>
                                    <option value="FIN">Finance</option>
                                    <option value="FAA">Fine and Applied Arts</option>
                                    <option value="FSHN">Food Science &amp; Human Nutrition</option>
                                    <option value="FLTE">Foreign Language Teacher Educ</option>
                                    <option value="FR">French</option>
                                    <option value="GWS">Gender and Women's Studies</option>
                                    <option value="GS">General Studies</option>
                                    <option value="GEOG">Geography</option>
                                    <option value="GEOL">Geology</option>
                                    <option value="GER">German</option>
                                    <option value="GMC">Germanic</option>
                                    <option value="GLBL">Global Studies</option>
                                    <option value="GC">Graduate College</option>
                                    <option value="GRK">Greek</option>
                                    <option value="HT">Health Technology</option>
                                    <option value="HEBR">Hebrew, Modern and Classical</option>
                                    <option value="HNDI">Hindi</option>
                                    <option value="HIST">History</option>
                                    <option value="HORT">Horticulture</option>
                                    <option value="HDFS">Human Dev and Family Studies</option>
                                    <option value="HDES">Human Dimensions of Env Sys</option>
                                    <option value="HRD">Human Resource Development</option>
                                    <option value="HUM">Humanities Courses</option>
                                    <option value="IE">Industrial Engineering</option>
                                    <option value="INFO">Informatics</option>
                                    <option value="IS">Information Sciences</option>
                                    <option value="IB">Integrative Biology</option>
                                    <option value="IHLT">Interdisciplinary Health Sci</option>
                                    <option value="ITAL">Italian</option>
                                    <option value="JAPN">Japanese</option>
                                    <option value="JS">Jewish Studies</option>
                                    <option value="JOUR">Journalism</option>
                                    <option value="KIN">Kinesiology</option>
                                    <option value="KOR">Korean</option>
                                    <option value="LER">Labor and Employment Relations</option>
                                    <option value="LA">Landscape Architecture</option>
                                    <option value="LAT">Latin</option>
                                    <option value="LAST">Latin American &amp; Caribbean St</option>
                                    <option value="LLS">Latina/Latino Studies</option>
                                    <option value="LAW">Law</option>
                                    <option value="LAS">Liberal Arts and Sciences</option>
                                    <option value="LGLA">Lingala</option>
                                    <option value="LING">Linguistics</option>
                                    <option value="SLCL">LiteraturesCulturesLinguistics</option>
                                    <option value="MBA">MBA Program</option>
                                    <option value="MSE">Materials Science &amp; Engr</option>
                                    <option value="MATH">Mathematics</option>
                                    <option value="ME">Mechanical Engineering</option>
                                    <option value="MDIA">Media</option>
                                    <option value="MACS">Media and Cinema Studies</option>
                                    <option value="MDVL">Medieval Studies</option>
                                    <option value="MFST">Metropolitan Food &amp; Env Systms</option>
                                    <option value="MICR">Microbiology</option>
                                    <option value="MILS">Military Science</option>
                                    <option value="GRKM">Modern Greek</option>
                                    <option value="MCB">Molecular and Cell Biology</option>
                                    <option value="MIP">Moleculr &amp; Integrative Physiol</option>
                                    <option value="MUSE">Museum Studies</option>
                                    <option value="MUS">Music</option>
                                    <option value="MUSC">Music Lessons and Ensembles</option>
                                    <option value="NRES">Natural Resources &amp; Environ Sc</option>
                                    <option value="NS">Naval Science</option>
                                    <option value="NEUR">Neuroscience</option>
                                    <option value="NPRE">Nuclear, Plasma, Radiolg Engr</option>
                                    <option value="NUTR">Nutritional Sciences</option>
                                    <option value="LEAD">Org &amp; Community Leadership</option>
                                    <option value="PATH">Pathobiology</option>
                                    <option value="PERS">Persian</option>
                                    <option value="PHIL">Philosophy</option>
                                    <option value="PHYS">Physics</option>
                                    <option value="PBIO">Plant Biology</option>
                                    <option value="PLPA">Plant Pathology</option>
                                    <option value="POL">Polish</option>
                                    <option value="PS">Political Science</option>
                                    <option value="PORT">Portuguese</option>
                                    <option value="PSM">Professional Science Master</option>
                                    <option value="PSYC">Psychology</option>
                                    <option value="RST">Recreation, Sport, and Tourism</option>
                                    <option value="REHB">Rehabilitation Counseling</option>
                                    <option value="REL">Religion</option>
                                    <option value="RHET">Rhetoric and Composition</option>
                                    <option value="RMLG">Romance Linguistics</option>
                                    <option value="RSOC">Rural Sociology</option>
                                    <option value="RUSS">Russian</option>
                                    <option value="REES">Russian,E European,Eurasian St</option>
                                    <option value="SAME">S. Asian &amp; Middle Eastern</option>
                                    <option value="SNSK">Sanskrit</option>
                                    <option value="SCAN">Scandinavian</option>
                                    <option value="SLS">Second Language Studies</option>
                                    <option value="SLAV">Slavic</option>
                                    <option value="SOCW">Social Work</option>
                                    <option value="SOC">Sociology</option>
                                    <option value="SPAN">Spanish</option>
                                    <option value="SPED">Special Education</option>
                                    <option value="SHS">Speech and Hearing Science</option>
                                    <option value="STAT">Statistics</option>
                                    <option value="SBC">Strategic Brand Communication</option>
                                    <option value="SWAH">Swahili</option>
                                    <option value="SE">Systems Engineering and Design</option>
                                    <option value="TSM">Technical Systems Management</option>
                                    <option value="TE">Technology Entrepreneurship</option>
                                    <option value="TMGT">Technology and Management</option>
                                    <option value="THEA">Theatre</option>
                                    <option value="TAM">Theoretical and Appl Mechanics</option>
                                    <option value="TRST">Translation Studies</option>
                                    <option value="TURK">Turkish</option>
                                    <option value="UKR">Ukrainian</option>
                                    <option value="UP">Urban and Regional Planning</option>
                                    <option value="VCM">Veterinary Clinical Medicine</option>
                                    <option value="VM">Veterinary Medicine Courses</option>
                                    <option value="WLOF">Wolof</option>
                                    <option value="WGGP">Women Gender Global Perspect</option>
                                    <option value="WRIT">Writing Studies</option>
                                    <option value="YDSH">Yiddish</option>
                                    <option value="ZULU">Zulu</option>
                                    </select>
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="courseNumberA" placeholder="3-Digit Course Number e.g.100">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="instructorA" placeholder="e.g. Steven Pan">
                            </td>
                            <td class="col-md-1">
                                <select class="browser-default custom-select mr-2" name="gradeA" style="width:auto;">
                                    <OPTION VALUE="A+">A+</OPTION>
                                    <OPTION VALUE="A">A</OPTION>
                                    <OPTION VALUE="A-">A-</OPTION>
                                    <OPTION VALUE="B+">B+</OPTION>
                                    <OPTION VALUE="B">B</OPTION>
                                    <OPTION VALUE="B-">B-</OPTION>
                                    <OPTION VALUE="C+">C+</OPTION>
                                    <OPTION VALUE="C">C</OPTION>
                                    <OPTION VALUE="C-">C-</OPTION>
                                    <OPTION VALUE="D+">D+</OPTION>
                                    <OPTION VALUE="D">D</OPTION>
                                    <OPTION VALUE="D-">D-</OPTION>
                                    <OPTION VALUE="W">W</OPTION>
                                    <OPTION VALUE="F">F</OPTION>
                                </select>
                            </td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-primary ml-2">Add</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jumbotron mb-0" style="background-color:powderblue">
        <h1>Grade Prediction</h1>
        <h5>Select Subject and Course Number</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-3">Subject</th>
                    <th class="col-3">Course Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        {% if sel_subj %}
                            <form class="form-inline" method="POST" action="/grade">
                                <td class="col-0"></td>
                                <td class="col-3">
                                    <select name="sel_subj" class="browser-default custom-select">
                                        {% for subj in subj_list %}
                                            {% if sel_subj == subj[0] %}
                                                <option value={{subj[0]}} selected>{{subj[1]}} ({{subj[0]}})</option>
                                            {% else %}
                                                <option value={{subj[0]}}>{{subj[1]}} ({{subj[0]}})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="col-3">
                                    <select name="CRN" class="browser-default custom-select col-md-2">
                                        {% for CRN in CRNs %}
                                            {% if CRN == sel_CRN %}
                                                <option value="{{CRN}}" selected>{{CRN}}</option>
                                            {% else %}
                                                <option value="{{CRN}}">{{CRN}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2 col-auto">Get Grade / Course #</button>
                                </td>
                            </form>
                        {% else %}
                            <form class="form-inline" method="POST" action="/getCrsNum">
                                <td class="col-0"></td>
                                <td class="col-3">
                                    <select name="sel_subj" class="browser-default custom-select">
                                        {% for subj in subj_list %}
                                            <option value={{subj[0]}}>{{subj[1]}} ({{subj[0]}})</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="col-3">
                                    <select name="CRN" class="browser-default custom-select col-md-2">
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2 col-auto">Get Course #</button>
                                </td>
                            </form>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <h5>Expected Grade</h5>
        <div class="ml-2">
            <input type="text" class="form-control col-1" id="expectedGrade" placeholder="{{grade}}">
        </div>
    </div>
    <div class="jumbotron mb-0" style="background-color: #afcbff;">
        <h1>Database Editor</h1>
        <h5>Read Section Data</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-3">Subject</th>
                    <th class="col-3">Course Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        {% if sel_subj %}
                            <form class="form-inline" method="POST" action="/read">
                                <td class="col-0"></td>
                                <td class="col-3">
                                    <select name="sel_subj" class="browser-default custom-select">
                                        {% for subj in subj_list %}
                                            {% if sel_subj == subj[0] %}
                                                <option value={{subj[0]}} selected>{{subj[1]}} ({{subj[0]}})</option>
                                            {% else %}
                                                <option value={{subj[0]}}>{{subj[1]}} ({{subj[0]}})</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="col-3">
                                    <select name="sel_CRN" class="browser-default custom-select col-md-2">
                                        {% for CRN in CRNs %}
                                            {% if CRN == sel_CRN %}
                                                <option value="{{CRN}}" selected>{{CRN}}</option>
                                            {% else %}
                                                <option value="{{CRN}}">{{CRN}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2 col-auto">Get Section Info / Course #</button>
                                </td>
                            </form>
                        {% else %}
                            <form class="form-inline" method="POST" action="/getCrsNum">
                                <td class="col-0"></td>
                                <td class="col-3">
                                    <select name="sel_subj" class="browser-default custom-select">
                                        {% for subj in subj_list %}
                                            <option value={{subj[0]}}>{{subj[1]}} ({{subj[0]}})</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="col-3">
                                    <select name="sel_CRN" class="browser-default custom-select col-md-2">
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2 col-auto">Get Course #</button>
                                </td>
                            </form>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table table-sm text-center">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-sm-1">CourseId</th>
                    <th class="col-sm-1">ProfessorId</th>
                    <th class="col-sm-1">sectionId</th>
                    <th style="width: 8%">Term</th>
                    <th style="width: 4%;">A</th>
                    <th style="width: 4%;">A-</th>
                    <th style="width: 4%;">B+</th>
                    <th style="width: 4%;">B</th>
                    <th style="width: 4%;">B-</th>
                    <th style="width: 4%;">C+</th>
                    <th style="width: 4%;">C</th>
                    <th style="width: 4%;">C-</th>
                    <th style="width: 4%;">D+</th>
                    <th style="width: 4%;">D</th>
                    <th style="width: 4%;">D-</th>
                    <th style="width: 4%;">F</th>
                    <th style="width: 4%;">W</th>
                </tr>
                </thead>
                <tbody>
                    {% if sectionInfos %}
                        {% for sectionInfo in sectionInfos %}
                            <tr class="row">
                                <td class="col-0">
                                </td>
                                <td class="col-sm-1">{{sectionInfo[0]}}
                                </td>
                                <td class="col-sm-1">{{sectionInfo[1]}}
                                </td>
                                <td class="col-sm-1">{{sectionInfo[2]}}
                                </td>
                                <td style="width: 8%;">{{sectionInfo[3]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[4]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[5]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[6]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[7]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[8]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[9]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[10]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[11]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[12]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[13]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[14]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[15]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[16]}}
                                </td>
                                <td style="width: 4%;">{{sectionInfo[17]}}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        &nbsp;
        <h5>Increment Grade</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Course Number</th>
                    <th class="col-md-2">SectionId</th>
                    <th class="col-md-2">Term</th>
                    <th class="col-md-2">Grade</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/increment">
                        <tr class="d-flex">
                            <td class="col-0">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="subjectI" placeholder="2 to 4 Capitalized Alphabet e.g.CS">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="courseNumberI" placeholder="3-Digit Course Number e.g.100">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="sectionIdI" placeholder="4-Digit SectionId (read from above if you don't know)">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="termI" placeholder="Spring, Fall, etc.">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="gradeI" placeholder="A, A-, etc.">
                            </td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Increment</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
            {{wRes}}
        </div>
        &nbsp;
        <h5>Decrement Grade</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-md-2">Subject</th>
                    <th class="col-md-2">Course Number</th>
                    <th class="col-md-2">SectionId</th>
                    <th class="col-md-2">Term</th>
                    <th class="col-md-2">Grade</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                    <form class="form-inline" method="POST" action="/decrement">
                        <tr class="d-flex">
                            <td class="col-0">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="subjectD" placeholder="2 to 4 Capitalized Alphabet e.g.CS">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="courseNumberD" placeholder="3-Digit Course Number e.g.100">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="sectionIdD" placeholder="4-Digit SectionId (read from above if you don't know)">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="termD" placeholder="Spring, Fall, etc.">
                            </td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" name="gradeD" placeholder="A, A-, etc.">
                            </td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-danger ml-2 col-auto">Decrement</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
            {{dRes}}
        </div>
        &nbsp;
        <h5>Add Professor</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/addProf">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profFN">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profLN">
                            </td>
                            <td class="col-2">
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Add</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            {{apRes}}
        </div>
        &nbsp;
        <h5>Delete Professor</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/deleteProf">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profFND">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="profLND">
                            </td>
                            <td class="col-2">
                                <button type="submit" class="btn btn-danger ml-2 col-auto">Delete</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            {{dpRes}}
        </div>
        &nbsp;
        <h5>Change Section Professor</h5>
        <div class="table table-sm">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col-0"></th>
                    <th class="col-2">First Name (Old)</th>
                    <th class="col-2">Last Name (Old)</th>
                    <th class="col-2">First Name (New)</th>
                    <th class="col-2">Last Name (New)</th>
                    <th class="col-2">Section ID</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <form class="form-inline" method="POST" action="/changeProf">
                            <td class="col-0"></td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="oldProfF" placeholder="Changing from">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="oldProfL" placeholder="Changing from">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="newProfF" placeholder="Changing to">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="newProfL" placeholder="Changing to">
                            </td>
                            <td class="col-2">
                                <input type="text" class="form-control" name="changeSecId">
                            </td>
                            <td class="col-2">
                                <button type="submit" class="btn btn-primary ml-2 col-auto">Change</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
            {{cpRes}}
        </div>
    </div>
    <div class="jumbotron mb-0 bg-info" id="about">
        <h1>About</h1>
        <p>This webapp is made by</p>
        <table >
            <thead>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6"></th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Steven Pan</th>
                    <th class="col-3">stevenp6@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Vinayak Dhanawade</th>
                    <th class="col-3">vinayak2@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Rohan Vasavada</th>
                    <th class="col-3">rdv2@illinois.edu</th>
                </tr>
                <tr class="d-flex">
                    <th class="col-0"></th>
                    <th class="col-6">Kevin Choi</th>
                    <th class="col-3">gchoi17@illinois.edu</th>
                </tr>
            </tbody>
        </table>
        &nbsp;<p>as an in-class project for CS 411 at UIUC</p>
    </div>
  </body>
</html>